table {
  margin: 2em 0em;
  border-spacing: 0px 9px;
  border-collapse: collapse;
}

th {
  padding: 1.5em;
  font-size: 0.9em;
  font-weight: 500;
  background-color: #45818e;
  color: white;
  font-weight: 600;
}

tr {
  border-bottom: 1px solid rgb(234, 234, 234);
}

td {
  padding: 1em;
}
